@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<body>
    <iframe width="400" height="315"
            src="https://www.youtube.com/watch?v=J16lInLZRms">
    </iframe>

    <p><button onclick="myMove()">Click Me</button></p>

    <div id="container">
        <div id="animate"></div>
    </div>

</body>
